<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="v1.app.com.codenutrient">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity android:name=".Activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activities.CustomViewFinderScannerActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Activities.ProductActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".Activities.MainActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Activities.InfoAppUserActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".Activities.MainActivity"
            android:theme="@style/AppTheme"/>

        <activity android:name=".Activities.CalendarActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".Activities.MainActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Activities.StepsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".Activities.MainActivity"
            android:theme="@style/AppTheme"/>

        <service
            android:name=".Services.Pedometer"
            android:enabled="true" />

        <receiver android:name=".Services.SensorRestarterBroadcastReciver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStoped">
            <intent-filter>
                <action android:name="RestartSensor"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>